{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>Registrar Producto</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarProducto/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="num_id_producto" name="num_id_producto" class="form-control" placeholder="Id Producto" minlength="1" maxlength="8" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_nombre_producto" name="txt_nombre_producto" class="form-control" placeholder="Nombre del Producto" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_descripcion_producto" name="txt_descripcion_producto" class="form-control" placeholder="Descripción del Producto" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="number" id="num_stock_producto" name="num_stock_producto" class="form-control" placeholder="Stock del Producto" required><br>
                    </div>
                    <div class="form-group">
                        <input type="number" step="0.01" id="num_precio_producto" name="num_precio_producto" class="form-control" placeholder="Precio del Producto" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_categoria_producto" name="txt_categoria_producto" class="form-control" placeholder="Categoría del Producto" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="number" id="num_id_sucursal" name="num_id_sucursal" class="form-control" placeholder="ID de Sucursal" required><br>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar Producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h1>Listado de Productos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id Producto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Sucursal</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in misproductos %}
                <tr>
                    <td>{{ producto.id_producto }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.id_sucursal }}</td>
                    <td>
                        <a href="seleccionarProducto/{{ producto.id_producto }}" class="btn btn-info">Editar</a>
                        <a href="borrarProducto/{{ producto.id_producto }}" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
