{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Proveedor</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarProveedor/" method="POST">{% csrf_token %}
                    <div class="form-group py-3">
                        <input type="text" id="num_id_proveedor" name="num_id_proveedor" class="form-control" value="{{ proveedor.id_proveedor }}" readonly><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_nombre_proveedor" name="txt_nombre_proveedor" class="form-control" value="{{ proveedor.nombre_p }}" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_telefono_proveedor" name="txt_telefono_proveedor" class="form-control" value="{{ proveedor.telefono_p }}" required><br>
                    </div>
                    <div class="form-group">
                        <input type="email" id="txt_email_proveedor" name="txt_email_proveedor" class="form-control" value="{{ proveedor.email_p }}" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_direccion_proveedor" name="txt_direccion_proveedor" class="form-control" value="{{ proveedor.direccion_p }}" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txt_ciudad_proveedor" name="txt_ciudad_proveedor" class="form-control" value="{{ proveedor.ciudad_p }}" required><br>
                    </div>
                    <div class="form-group">
                        <input type="number" id="num_id_empleado" name="num_id_empleado" class="form-control" value="{{ proveedor.id_empleado }}" required><br>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
